.card{
    width: 200px;
    height: auto;
    margin: 5%;
    color: #ffffff;
}

.card h3, p{
    justify-self: center;
    font-weight: bold;
    font-size: 0.75rem;
    margin: 15px 0.4rem 0 0.4rem;
}

.card_img{
    width: 200px;
    height: 300px;
}

.compra_button{
    width:100%;
    border: none;
    padding: 0.5rem;
    background-color: rgb(69, 159, 103);
    color: #fff;
    font-size: 0.8rem;
    margin: 15px 0;
}