.card{
    width: 200px;
    height: auto;
    margin: 10px;
    color: #ffffff;
    text-decoration: none;
}

.card h3, p{
    justify-self: center;
    font-weight: bold;
    font-size: 0.75rem;
    margin: 15px 0.4rem 0 0.4rem;
}

.card_img{
    width: 200px;
    height: 300px;
}

